@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">BlogLelo</h1>
    <p>Confira aqui as últimas noticias e novidades do mundo!!!</p>
</div>

@foreach (Postagem postagem in Model) {
    <p>@postagem.Nome</p>]
    
}